<%= render 'layouts/new_comment'%>
<h3>Name:     <%=@game.name %></h3>
<h3>Company:  <%=@game.from %></h3>
<h3>Review:   <%=@game.review %></h3>
<h1></h1>

<%=link_to 'edit',edit_game_path(@game)%>
<%= link_to 'delete', game_path(@game), method: :delete ,data:{confirm: "Are you sure to delete?"} %>
 <div>
    <button type="button" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#new-answer-modal">Add comment</a>
  </div>

<div id='comments'>
<%if @game.comments!=nil%>
<%@game.comments.each do |comment|%>
<div>
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div>
</div>

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong> <%=comment.email%></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at)%> ago</span>
</div>
<div class="panel-body">
<%=comment.body%>
</div>
</div>
</div>
</div>
<%end%>
<%end%>
</div>